.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-page__wrapper {
    width: 100%;
}

.profile-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-info {
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 10px;
    color: #000;

}

.info-label {
    font-weight: bold;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.action-link {
    text-decoration: none;
    display: block;
}

.edit-button,
.delete-button,
.users-button,
.shopping-cart-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
}

.edit-button:hover,
.delete-button:hover,
.users-button:hover,
.shopping-cart-button:hover {
    background-color: #0056b3;
}
