<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
</head>
<body>
<div th:fragment="header">
    <form class="logout-fragment" th:action="@{/logout}" method="POST">
        <span class="logout-fragment__email" th:text="${#authentication.name}">Email</span>
        <button class="button logout-fragment__button" type="submit">Logout</button>
    </form>
</div>
<a class="button button__profile" th:fragment="profile" th:href="@{/face/profile}">Profile</a>
<a class="button button__login" th:fragment="login" th:href="@{/face/login}">Login</a>
<div th:fragment="main">
<a th:href="@{/face}">Main page</a>
</div>
</body>
</html>