<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1 class="face-h1"> FACE LOGIN</h1>
<form th:action="@{/face/login}" method="post">
    <div style="color: red" th:if="${param.error}">
        Bad credentials
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>
    <label for="username">Email:
        <input id="username" name="username" type="text">
    </label><br>
    <label for="password">Password:
        <input id="password" name="password" type="password">
    </label><br>
    <button type="submit">Login</button>
</form>
<div>
    <div>Login with:</div>
    <a href="/oauth2/authorization/google">Google</a>
</div>
<form th:href="@{/oauth2/authorization/google}">
    <button type="submit">Login with Google</button>
</form>
<form th:action="@{/face/users/registration}">
    <button type="submit">Registration</button>
</form>
</body>
</html>