<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>

<br>

<p> Email: <span th:text="${user.email}"></span></p>
<p> Name: <span th:text="${user.firstName}"></span></p>
<p> Last name: <span th:text="${user.lastName}"></span></p>
<p> Birthdate: <span th:text="${user.birthDate}"></span></p>
<p> Gender: <span th:text="${user.gender}"></span></p>
<p> Role: <span th:text="${user.role}"></span></p>

<br>

<a th:href="@{'/face/users/' + ${user.getId()} + '/edit'}">
    <button>Edit user</button>
    </a>

    <br>

    <form th:method="DELETE" th:action="@{'/users/'+ ${user.getId()}}">
        <button type="submit">Delete</button>
    </form>

<br>

<a th:href="@{'/users'}">
    <button>Users</button>
</a>
<br>

<a th:href="@{'/face/shopping-cart/' + ${user.getShoppingCartId()}}">
    <button>Shopping cart</button>
</a>
</body>
</html>