<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getEmail()}"/>
<p th:text="${user.getFirstName()}"/>
<p th:text="${user.getLastName()}"/>
<p th:text="${user.getBirthDate()}"/>
<p th:text="${user.getGender()}"/>
<p th:text="${user.getRole()}"/>

<br>

<a th:href="@{'/users/' + ${user.getId()} + '/edit'}">
    <button>Edit user</button>
    </a>

    <br>

    <form th:method="DELETE" th:action="@{'/users/'+ ${user.getId()}}">
        <button type="submit">Delete</button>
    </form>

<br>

<a th:href="@{'/users'}">
    <button>Users</button>
</a>
</body>
</html>