<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit form</title>
</head>
<body> Hello
<!--<form th:method="PATCH" th:action="@{'/face/users/'+ ${user.getId()}}" th:object="${user}">

  <label for="firstName">Name:</label>
  <input type="text" id="firstName" name="firstName" th:field="*{firstName}" />

  <br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" th:field="*{lastName}" />

  <br>

  <label for="email">Email:</label>
  <input type="text" id="email" name="email" th:field="*{email}">

  <br>

  <label for="birthDate">Birthdate:</label>
  <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" />

  <br>

  <label for="gender">Gender:</label>
  <select id="gender" name="gender">
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>

  <br>

  &lt;!&ndash;<label for="role">Role:</label>
  <select id="role" name="role">
    <option value="ADMIN">Admin</option>
    <option value="USER">User</option>
  </select>&ndash;&gt;

  <br>

  <button type="submit">Update</button>
  <div th:if="${errors}">
    <p style="color: red" th:each="error: ${errors}" th:text="${error.defaultMessage}">
      Error message
    </p>
  </div>
</form>-->
</body>
</html>