<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit form</title>
    <link type="text/css" href="/css/reset.css" rel="stylesheet">
    <link type="text/css" href="/css/common.css" rel="stylesheet">
    <link type="text/css" href="/css/edit.page.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="module" src="/js/edit.page.js" defer></script>
</head>
<body class="load">
<div class="wrapper container">
    <header class="header" th:insert="~{fragment/header::header}"></header>
    <main class="page page__edit edit-page">
        <div class="edit-page__wrapper">
            <form class="edit-form">
                <div class="edit-info">
                    <div class="info-item">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="info-value" required>
                    </div>
                    <div class="info-item">
                        <label for="firstName">Name:</label>
                        <input type="text" id="firstName" name="firstName" class="info-value" required>
                    </div>
                    <div class="info-item">
                        <label for="firstName">Last name:</label>
                        <input type="text" id="lastName" name="lastName" class="info-value" required>
                    </div>
                    <div class="info-item">
                        <label for="birthDate">Birthdate:</label>
                        <input type="date" id="birthDate" name="birthDate" class="info-value" required>
                    </div>
                    <div class="info-item">
                        <label for="gender">Gender:</label>
                        <select id="gender" name="gender" class="info-value" required>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>
                </div>
                <div class="edit-actions">
                    <button class="edit-actions__button" type="submit">Обновить</button>
                </div>
            </form>
        </div>

    </main>
    <footer class="footer" th:insert="~{fragment/footer::footer}"></footer>
    <div class="loader"></div>
    <div class="notification hidden">
        <p class="notification__text"></p>
    </div>
</div>
</body>
</html>