<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link type="text/css" href="/css/reset.css" rel="stylesheet">
    <link type="text/css" href="/css/common.css" rel="stylesheet">
    <link type="text/css" href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="module" src="/js/product.page.js" defer></script>
</head>
<body class="load">
<div class="wrapper container">
    <header class="header" th:insert="~{fragment/header::header}"></header>
    <main class="page page__product">
        <form class="product-form">
            <fieldset>
                <legend>Add Product Details</legend>

                <div class="form-group">
                    <label for="name">Product Name:</label>
                    <input type="text" id="name" name="name" value="" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" value="" required>
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>

                <img id="image-preview" style="max-width: 200px; display: none;">

                <div class="form-group">
                    <label for="productType">Type:</label>
                    <select name="productType" id="productType">
                        <option value="FIRST_TYPE">Первый тип</option>
                        <option value="SECOND_TYPE">Второй тип</option>
                        <option value="THIRD_TYPE">Третий тип</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" value="" step="any" required>
                </div>

                <button type="submit" class="product-form_submit-button">Add to product</button>
            </fieldset>
        </form>

    </main>
    <footer class="footer" th:insert="~{fragment/footer::footer}"></footer>
</div>
<div class="loader"></div>
<div class="notification hidden">
    <p class="notification__text"></p>
</div>
</body>

</html>